:root{
    --branco-principal: #FFFFFF;
    
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --botao-animacao: #62a2f0;
    --cor-de-fundo:#00030c;
    --fonte-principal: 'inter';
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 20px;
    font-weight: 400;
}
*{
    margin: 0%;
    padding: 0%;
}
.principal{
    background-image: url("./img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;

}
.conteiner{
   height: 100vh;
   display: grid;
   grid-template-columns: 50% 50%;
 
  
}
.conteiner__titulo{
    font-family: var(--fonte-principal);
    font-size: 2.5rem;
    font-weight: 700;
   
   
}
.conteiner__botao{
    width: 100%;
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    border-radius: 7px;
    padding: 1rem;
    display: block;
    text-decoration: none;
 margin-bottom: 1em;
 width: 85%;
}
.botao__secundario{
   
    background-color: transparent;
    border: 2px solid var(--branco-principal);
} 
.conteiner__aviso{
    font-size: 1rem;
    color: var(--cinza-secundario);
}
.conteiner__imagem{
    margin: 1em 0 2em 0;
}
.conteiner__caixa{
    margin: 0 6em;
}


.secundario{
    align-items: center;
    margin: 0% 10em;
}
.secundario__imagem{
    width: 80%;
    
    
}
.conteiner__descricao{
    margin: 0% 10%;
    
}
.descricao__titulo{
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
   font-weight: 700;
    font-size: 4rem;
    margin: 3% 0% ;

  
}
.descricao__texto{
    color: var(--cinza-secundario);
   font-weight: 400;
font-size: 1.3rem;
}
.terciario{

    align-items: center;
    margin: 0 10em;
}
.conteiner__explicacao{
    margin:4% 0% ;
}
.conteiner__idioma{
    font-size: 1.70rem ;
    color: var(--cinza-secundario);
    font-family: var(--fonte-principal);
    margin: 5% 0%;
   
   
}
.terciario__botao{
    background-color: var(--botao-azul);
    color:var(--branco-principal) ;
    font-family: var(--fonte-principal);
    font-weight: 400;
    text-decoration: none;
    border-radius: 10px;
    padding: 2.5%;
    
}

.terciario__imagem{
    width: 80%;
    margin: 10%  ;
}


.quarto{
   
    align-items: center;
    padding: 0 10% 0 10%;
}
.conteiner__notebook{
    width: 80%;
}
.conteiner__cursos{
    color: var(--branco-principal);
    font-size: 4rem;
    font-family: var(--fonte-principal);

}
.conteiner__baixar{
    margin: 2% 0;
    font-size: 1.70rem;
    color: var(--cinza-secundario);
    font-family: var(--fonte-principal);

}
    
 .dispositivos__titulo{
    font-family: var(--fonte-principal);
    font-size: 4.5rem;
    margin: 3% 0%;
 }   
.dispositivos__lista{
    
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
     list-style-type: none;
}

.conteiner__dispositivos{
    text-align: center;
   
}  

.segunda__lista{
    margin: 0% 5%;
}
.lista__item{
    font-family: var(--fonte-principal);
    color: var(--fonte-principal);
}
.rodape{
   align-items: center;
   text-align: center;
}
.rodape__lista{
  color: var(--branco-principal);
  font-family: var(--fonte-principal);
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 1.5% 0%  ;
}
.ultima__lista{
    
   margin: 1%;
   
}
.lista__unica{
    font-size: 1rem;
    color: var(--branco-principal);
    text-decoration: none;
}
.rodape__logo{
    
    margin: 10% 3% 0% 0%
}
.rodape__subtitulo{
    color: var(--cinza-secundario);
    font-family: var(--fonte-principal);
    font-size: 0.9rem;
    margin: 1%;
}
.ultima__lista a:hover{
    color: var(--botao-azul);    
}

.terciario__botao:hover{
    background-color: var(--botao-animacao);
}
.conteiner__botao:hover{
    background-color: var(--botao-animacao);
    color: var(--cor-de-fundo);

}
.botao__secundario:hover{
    background-color: var(--botao-animacao);
    color: var(--cor-de-fundo);

}
